<div>
  <form action="">
    <div class="form-gr">
      <label for="category-select"></label>
      <select class="form-control" name="category-select" id="category-select">
        <option value="家居物業">家居物業</option>
        <option value="交通出行">交通出行</option>
        <option value="休閒娛樂">休閒娛樂</option>
        <option value="餐飲食品">餐飲食品</option>
        <option value="其他">其他</option>
      </select>
    </div>
  </form>
</div>

<div>
  <h2>總金額：</h2>
</div>


<ul class="list-group">
  {{#each expenses }}
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <div class="row">
      <div class="col">
        <i class="{{this.icon}}"></i>
      </div>
      <div class="col">
        {{this.name}}
        <small>{{this.date}}</small>
      </div>
      <div class="col">
        {{this.amount}}
      </div>
      <div class="col">
        {{this.category}}
      </div>
      <div>
        <a href="">修改</a>
      </div>
      <div>
        <form action="">
          <button>刪除</button>
        </form>
      </div>
    </div>
  </li>
  {{/each}}
</ul>

<div>
  <a class="btn btn-primary justify-content-center d-flex" href="./expenses/new">新增支出</a>
</div>